<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    //   google.charts.load('current', {'packages':['corechart']});
    //   google.charts.setOnLoadCallback(drawChart);

      var queryOptions = {
    csvColumns: ['col1', 'col2', 'col3' /* Or whatever the columns in the CSV file are */],
    csvHasHeader: true /* This should be false if your CSV file doesn't have a header */
}
/* csvUrl is the path to your csv */    
var query = new google.visualization.Query('https://wf-user-data.s3.ap-south-1.amazonaws.com/u1/data.csv', queryOptions);
query.send(handleQueryResponse);

function handleQueryResponse(response) {

    if (response.isError()) {
        alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
        return;
    }

    var data = response.getDataTable();

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    // Draw your chart with the data table here.
    chart.draw(view, queryOptions);
} 

    //   function drawChart() {
        
    //     var dat = (<%-data_for_area_graph%>)
    //     var data_for_chart = []
    //     dat.forEach(element => {temp=element.split(',')
    //     var check = 0;
    //     temp.forEach(ele => {
    //         ele = parseInt(ele)
    //         if(ele == "") {
    //             check = 1;
    //         }
    //     })
    //     if(check == 0) {
    //         data_for_chart.push(temp)
    //     }
    // })
    //     console.log(data_for_chart)
    //     var data = google.visualization.arrayToDataTable(data_for_chart);
    //     var options = {
    //       title: 'Company Performance',
    //       hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
    //       vAxis: {minValue: 0}
    //     };

    //     var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
    //     chart.draw(data, options);
    //   }

    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 100%; height: 1000px;"></div>
  </body>
</html>


