<!DOCTYPE html>
<html>
    <head>
        <title>Please wait</title>
    </head>
    <body>
        <h1>Please wait ... <br> While we are creating cluster and training Machine learning model. </h1>
        <div id="clockdiv">
        <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
        </div>
        <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
        </div>
        </div>

    </body>
    <style>
        body{
    text-align: center;
    background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

    </style>
    <script>
        function getTimeRemaining(endtime) {
            var t = Date.parse(endtime) - Date.parse(new Date());
            var seconds = Math.floor((t / 1000) % 60);
            var minutes = Math.floor((t / 1000 / 60) % 60);
            return {
                'total': t,
                'minutes': minutes,
                'seconds': seconds
  };
}

        function initializeClock(id, endtime) {
            var clock = document.getElementById(id);
            var minutesSpan = clock.querySelector('.minutes');
            var secondsSpan = clock.querySelector('.seconds');
            
            function updateClock() {
                var t = getTimeRemaining(endtime);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
                
                if (t.total <= 0) {
                    clearInterval(timeinterval);
                    window.location='/results'
                    
                }
            }
            
            updateClock();
            var timeinterval = setInterval(updateClock, 1000);
        }

        var deadline = new Date(Date.parse(new Date()) +  10 * 60 * 1000);
        initializeClock('clockdiv', deadline);

    </script>
</html>